<div class="container">
  <h2 class="text-center">Registraiton Form</h2>
  {{ registrationForm.value | json}}

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input [class.is-invalid]="userName.invalid &&userName.touched" formControlName="username" class="form-control"
        type="text" id="username" placeholder="Enter username ...">
      <!-- <small class="text-danger" [class.d-none]="registrationForm.get('username').valid && registrationForm.get('username').untouched">Username Field required</small> -->
      <div *ngIf="userName.invalid &&userName.touched">
        <small *ngIf="userName.errors?.required" class="text-danger">Username is required</small>
        <small *ngIf="userName.errors?.minlength" class="text-danger">Username must be at least 3 characters</small>
        <small *ngIf="userName.errors?.forbiddenName" class="text-danger"> {{userName.errors?.forbiddenName.value}}
          username not allowed</small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" class="form-control" type="password" id="password" placeholder="Enter password ...">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control"
        type="password" id="confirmPassword" placeholder="Enter confirm password ...">
      <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Password do not match</small>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label for="street">Street</label>
        <input formControlName="street" type="text" id="street" class="form-control" placeholder="Enter your steert ...">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input formControlName="city" type="text" id="city" class="form-control" placeholder="Enter your city ...">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input formControlName="country" type="text" id="country" class="form-control" placeholder="Enter your country ...">
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <button type="button" (click)="addAlternateEmail()" class="btn btn-secondary btn-sm m-2">Add email</button>
      <input formControlName="email" [class.is-invalid]="email.invalid && email.touched"
      class="form-control" type="email" id="email" placeholder="Enter your email ...">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>

      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i" placeholder="Enter alternate email ...">
      </div>
    </div>

    <div class="form-check mb-3">
      <label class="form-check-label">
        <input formControlName="subscribe" type="checkbox" class="form-check-input" value="checkedValue">
        send me a promotion offres
      </label>
    </div>


    <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary">Register</button>
    <button type="button" (click)="loadApiData()" class="btn btn-secondary ml-2">Load Data</button>
  </form>

</div>
