<div class="container my-3">

  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>

  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- full model form -->
    <!-- {{userForm.value | json}}
    <hr>
    {{userModel | json}} -->

    <!-- particular field -->
    <!-- {{name.untouched}} -->

    {{userForm.form.valid}}
  

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" #name="ngModel"
        placeholder="Enter your name.." [(ngModel)]="userModel.name" required>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required.</small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email.." [(ngModel)]="userModel.email">
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" id="street" name="street" placeholder="Enter your street.." [(ngModel)]="userModel.address.street">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city.." [(ngModel)]="userModel.address.city">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Enter your city.." [(ngModel)]="userModel.address.country">
      </div>
    </div>

    <div class="form-group">
      <label for="phone">phone</label>
      <input type="text" class="form-control" [class.is-invalid]="phone.invalid && phone.touched" pattern="^\d{11}$"
        required #phone="ngModel" name="phone" id="phone" placeholder="Enter your Phone number.." [(ngModel)]="userModel.phone">
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
      </div>
    </div>

    <div class="my-3">
      <select (blur)="validateLanguage(language.value)" (change)="validateLanguage(language.value)" #language="ngModel" name="language" id="language" 
      class="form-control" [class.is-invalid]="languageHasError && language.touched" [(ngModel)]="userModel.language">
        <option value="default" selected>I am interested in..</option>
        <option *ngFor="let lan of languages">{{lan}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!languageHasError || language.untouched">Please choose a language</small>
    </div>

    <div class="form-check">
      <input type="radio" name="time" id="time1" class="form-check-input" value="morning" checked [(ngModel)]="userModel.time">
      <label for="time1"> Morning(8am-11am) </label>
    </div>
    <div class="form-check">
      <input type="radio" name="time" id="time2" class="form-check-input" value="evening" [(ngModel)]="userModel.time">
      <label for="time2"> Evening(5pm-7pm) </label>
    </div>

    <div class="form-check">
      <input type="checkbox" name="check" id="check" class="form-check-input" [(ngModel)]="userModel.subscribe">
      <label for="check">Send me offers</label>
    </div>

    <input [disabled]="userForm.form.invalid || languageHasError" type="submit" value="Submit" class="btn btn-primary">

  </form>

</div>
